.user-msg {
    position: fixed;
    bottom: -100px;
    right: 10px;
    background-color: #111;
    padding: 10px;
}

.user-msg.open {
    bottom: 10px;
    transition: bottom .5s;
}


dialog {
    padding: 20px;
    border: none;
    border-radius: 8px;
    box-shadow: 0 0 10px rgb(175, 0, 0);
}

#location-form {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

#location-form label {
    display: flex;
    flex-direction: column;
}

#location-form menu {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}